#containerCreateProjectFull{
    width: 100vw;
    height: 100vh;
}

#containerCreateProject{
    width: 45%;
    min-height: 300px;
    height: auto;
    overflow: hidden;
    margin-top: 100px;
}

#containerFormGroup{
    width: 100%;
    min-height: 180px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formGroup{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#containerButtonCreateProject{
    width: 400px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.itemButtonAddParticipants{
    margin: 0 0 20px 0;
    width: 200px;
    height: 100%;
}