
.sendButton{
    width: 100%;
    height: 41px;
    background: #79E3BD;
    border: 1px solid #56BB97;
    border-radius: 4px;
    margin-top: 15px;


    font: 600 14px Roboto, sans-serif;
}

.sendButton:active{
    background: #79e3bcbf;
}