.container{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#containerLogon{
    width: 400px;
    min-height: 500px;
    height: auto;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;

    margin-top: 150px;

    display: flex;
    flex-direction: column;
    
    gap: 10px;
}


#linkCreate{
    text-decoration: none;
    color: white;
    line-height: 17px;
    font: 400 14px Ronoto, sans-serif;
    text-decoration-line: underline;
    margin-left: 80px;
}

