
.labelChecbox{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px;
    font: 500 14px Roboto, sans-serif;
    color: #fff;
}

.InputCheckbox{
    appearance: none;

    width: 24px;
    height: 24px;

    border-radius: 4px;
    
    background-color: #22342E;
}