

.bodyTable{
    width: 100%;
    height: auto;
    border-bottom: 3px solid #56BB97;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.bodyItem{
    width: 33%;
    height: 100%;
    padding-top: 30px;
    font: 400 17px Roboto, sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.approval{
    margin-left: 8px;
    cursor: pointer;
    transition-duration: 0.2s; 
}

.approval:hover{
    transform:  scale(1.1);
    transition-duration: 0.2s; 
}

.information{
    margin-right: 3px;
    cursor: pointer;
    transition-duration: 0.2s; 
}

.information:hover{
    transform:  scale(1.1);
    transition-duration: 0.2s; 
}

.colorStatus{
    width: 15px;
    height: 15px;
    background-color: #81D8F7;
    border-radius: 100%;
    margin-right: 5px;
    margin-bottom: 2px;
}


.left{
    text-align: left;
    justify-content: left;
}

.right{
    text-align: right;
    justify-content: right;
}
