.container {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
}



#containerTable{
    width: 70%;
    min-height: 300px;
    height: auto;
    overflow: hidden;
    margin-top: 70px;
}


#headerTable{
    width: 100%;
    height: 50px;

    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.headerTitle{
    width: 33%;
    height: 100%;
    font: 600 20px Roboto, sans-serif;
    text-align: center;
}

#bodyTable{
    width: 100%;
    height: 80px;
    border-bottom: 3px solid #56BB97;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.bodyItem{
    width: 200px;
    height: 100%;
    padding-right: 5px;
    font: 400 17px Roboto, sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#left{
    text-align: left;
    justify-content: left;
}

#right{
    text-align: right;
    justify-content: right;
}

.information{
    cursor: pointer;
    transition-duration: 0.2s; 
}

.information:hover{
    transform:  scale(1.1);
    transition-duration: 0.2s; 
}

.colorStatus{
    width: 15px;
    height: 15px;
    background-color: #81D8F7;
    border-radius: 100%;
    margin-right: 5px;
    margin-bottom: 2px;
}

#containerButton{
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#buttonNewProject{
    width: 266px;
    height: 100%;
}